{% extends "home.html" %}

{% block main_content %}

<main class="centered-section">
    <section class="section-container">
        <form action="" method="POST" novalidate >
            <p class="sub-messages">User ID : {{ session["user_id"] }}</p>
            <h3 class="sub-messages">Change Password</h3>
            {{ form.hidden_tag() }}
            {{ form.password(placeholder = "Enter your orignal password", class="input") }}
            {% for error in form.password.errors %}
            <b class="sub-messages">{{ error }}</b>
            {% endfor %}
            <br />
            {{ form.new_password(placeholder = "Enter your new password",class="input") }}
            {% for error in form.new_password.errors %}
            <b class="sub-messages">{{ error }}</b>
            {% endfor %}
            <br />
            {{ form.new_password0(placeholder = "Re-Enter your new password",class="input") }}
            {% for error in form.new_password0.errors %}
            <b class="sub-messages">{{ error }}</b>
            {% endfor %}
            <br />
            {{ form.submit(class = "input") }}
            <br/>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for catagory, message in messages %}
            <p class="sub-messages">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </section>
</main>

{% endblock %}
