
{% extends "base.html" %}
{% block main_content %}
    {% block nav %}
    {% if request.path != '/' %}
    <nav class="nav-item" id="nav">
        <a href="{{ url_for('home') }}">
            <b>Nav</b>
        </a>
    </nav>
    {% endif %}
    {% endblock %}

    <body id="nav-body">
        <main>
            {% if g.admin != True and g.user %}
            <p class="sub-messages">User ID : {{ session["user_id"] }}</p>
            {% endif %}
            <div class="nav-items">
                <div class="nav-item" id="play">
                    <a href="{{ url_for('play') }}">
                        <b>Play</b>
                    </a>
                </div>
                <div class="nav-item" id="Info">
                    <a href="{{ url_for('info') }}">
                        <b>Info</b>
                    </a>
                </div>
                <div class="nav-item" id="leaderboard">
                    <a href="{{ url_for('leaderboard') }}">
                        <b>Leaderboard</b>
                    </a>
                </div>
                {% if g.user %}
                <div class="nav-item" id="loggedout">
                    <a href="{{ url_for('loggedout') }}">
                        <b>Logout</b>
                    </a>
                </div>

                {% if g.admin != True and g.user %}
                <div class="nav-item" id="change-password">
                    <a href="{{ url_for('change_password') }}">
                        <b>Change Password</b>
                    </a>
                </div>
                {% endif %}
                {% else %}
                <div class="nav-item" id="login">
                    <a href="{{ url_for('login') }}">
                        <b>Login</b>
                    </a>
                </div>
                {% endif %}
            </div>
        </main>
        <footer><small>&copy;Copy Right of Michael McCarthy. All rights reserved</small></footer>
    </body>

{% endblock %}