{% extends "base.html" %}

{% block main_content %}
<section class="section-container">
    <h1 class="sub-messages">Welcome to SHEAR DEM SHEEP!</h1>
    <h2 class="sub-messages">Be quick! How fast can you fill that Sack O' Whool</h2>
    <p> Left click to shear dem sheep!</p>
    <p>Be warned the sheep can 'jump over' the rocks when being chased</p>
    <p>Be warned again the goats ignore the rocks when enraged</p>
    <h3 class="sub-messages"> Watch out for them Goats! They arent scared of you like the sheep!</h3>
    <h4 class="sub-messages">Check out the leaderboard to see who completed each round the fastest!</h4>
</section>

    
{% endblock %}